@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colors.scss";

$menu-padding-left: 5px;
$menu-padding-right: 5px;

.ibe-menu {
    ul {
        padding: 0px;
        margin: 0px;

        .ibe-menu-item {
            padding-top: 5px;
            color: black !important;
            i.material-icons {
                font-size: 30px;
                float: left;
                margin-top: -3px;
                margin-right: 15px;
                line-height: 30px;
                width: 40px;
                text-align: center;
            }
        }

        .active {
            font-weight: bold;
            // background-color: #3f51b5;
            color: #3f51b5 !important;
            cursor: pointer;
            // opacity: 0.2;
            border: 0px;
            // box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(60 72 88 / 40%);
        }

        .ibe-menu-sub {
            color: darkgray;
            list-style: none;
            text-align: left;
            height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 4px;
            padding-left: 12px;
            font-size: 15px;
            font-weight: 300;
            margin-left: $menu-padding-left;
            margin-right: $menu-padding-right;
            text-decoration: none;
            // border: solid 1px black;
            display: block;
            &:hover {
                font-weight: 400;
                background-color: white;
                color: black;
                cursor: pointer;
                opacity: 0.2;
                border: 0px;
                box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(60 72 88 / 40%);
            }

            .active {
                font-weight: 400;
                background-color: #3f51b5;
                color: $grey-800 !important;
                cursor: pointer;
                // opacity: 0.2;
                border: 0px;
                box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(60 72 88 / 40%);
            }

            .caret {
                margin-top: 8px;
                position: absolute;
                right: 2rem;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 7px dashed;
                border-top: 7px solid\9;
                border-right: 7px solid transparent;
                border-left: 7px solid transparent;
            }
        }

        .sub-menu {
            ul {
                li {
                    color: darkgray;
                    list-style: none;
                    text-align: left;
                    height: auto;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-radius: 4px;
                    padding-left: 50px;
                    font-size: 15px;
                    font-weight: 300;
                    margin-left: $menu-padding-left;
                    margin-right: $menu-padding-right;

                    &:hover {
                        font-weight: 400;
                        background-color: darkgray !important;
                        color: white !important;
                        cursor: pointer;
                        opacity: 0.65;
                        border: 0px;
                        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(60 72 88 / 40%);
                    }

                }
            }
        }

        li.ibe-menu-link {

            color: white;
            list-style: none;
            text-align: left;
            height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-radius: 4px;
            padding-left: 12px;
            font-size: 15px;
            font-weight: 300;
            margin-left: $menu-padding-left;
            margin-right: $menu-padding-right;


            &:hover {
                font-weight: 400;
                background-color: darkgray;
                color: white !important;
                cursor: pointer;
                opacity: 0.85;
                border: 0px;
                box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(60 72 88 / 40%);
            }
        }


    }
}