<div class="main-content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-5 col-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">Info</h3>
          </div>
          <div class="card-body">
            <div class="table-search-input ml-auto">
            </div>
            <table #SaleForeCastActiveSort mat-table [dataSource]="dataInfo" multiTemplateDataRows matSort style="width: 100%;"
              class="table-striped table-hover">
              <ng-container matColumnDef="sale_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> sale_name </th>
                <td mat-cell *matCellDef="let element">{{element.firstname}} {{element.lastname}} </td>
              </ng-container>

              <ng-container matColumnDef="sale_grop">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> sale_grop </th>
                <td mat-cell *matCellDef="let element"> {{element.employee_position}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="columnsInfo"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsInfo;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 col-3">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">เป้าของเดือน</h3>
          </div>
          <div class="card-body">
            <div class="table-search-input ml-auto">
            </div>
            <table #MonthlySalesTarget mat-table multiTemplateDataRows matSort style="width: 100%;"
              class="table-striped table-hover">
              <ng-container matColumnDef="strategy_group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> strategy_group </th>
                <td mat-cell *matCellDef="let element"> {{ element.strategy_group }} </td>
              </ng-container>

              <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> target </th>
                <td mat-cell *matCellDef="let element"> {{ element.target }} </td>
              </ng-container>

              <ng-container matColumnDef="forecast">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> forecast </th>
                <td mat-cell *matCellDef="let element"> {{ element.forecast }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsMonthlySalesTarget"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsMonthlySalesTarget;"></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-9">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">รายการสินค้าขายดีในเดือนนี้ ของกลุ่ม</h3>
          </div>
          <div class="card-body">
            <div class="table-search-input ml-auto">
            </div>
            <table #MonthlySalesTarget mat-table multiTemplateDataRows matSort style="width: 100%;"
              class="table-striped table-hover">

              <ng-container matColumnDef="add_now">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> add_now </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> product_name </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_name }} </td>
              </ng-container>

              <ng-container matColumnDef="monthly_7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> monthly_7 </th>
                <td mat-cell *matCellDef="let element"> {{ element.monthly_7 }} </td>
              </ng-container>

              <ng-container matColumnDef="monthly_8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> monthly_8 </th>
                <td mat-cell *matCellDef="let element"> {{ element.monthly_8 }} </td>
              </ng-container>

              <ng-container matColumnDef="monthly_9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> monthly_9 </th>
                <td mat-cell *matCellDef="let element"> {{ element.monthly_7 }} </td>
              </ng-container>

              <ng-container matColumnDef="all_month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> all_month </th>
                <td mat-cell *matCellDef="let element"> {{ element.all_month }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsPoppularProductInMonthly"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsPoppularProductInMonthly;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-search-input ml-auto">
             <h3> ข้อมูล Sale ForeCaet หมายเลย {{infoID}} ของแผนก {{departmentId}}  </h3>
            </div>
            <table mat-table multiTemplateDataRows [dataSource]="dataSourceOfSaleForeCastTable" matSort
              style="width: 100%;" class="table-striped table-hover">

              <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> customer_name </th>
                <td mat-cell *matCellDef="let element"> {{ element.customer_name}} </td>
              </ng-container>

              <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> product_name </th>
                <td mat-cell *matCellDef="let element"> {{ element.product_name }} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="columnsSaleForeCast"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsSaleForeCast;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
