.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 5px;
}

mat-card {
  height: 400px;
  width: 450px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
