
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let userData of dataUsers" >
      <div class="our-team">
        <div class="picture">
          <img *ngIf="imgUsers && imgStatus === true" class="img-fluid" [src]="getImages(imgUsers)">
          <img *ngIf="imgUsers && imgStatus === false" class="img-fluid" src="{{imgUsers}}" alt="">
        </div>
        <div class="team-content">
          <h3 class="name">{{userData.titlename}} {{userData.firstname}} {{userData.lastname}}</h3>
          <h4 class="title">รหัสพนักงาน :{{userData.employee_code}}</h4>
          <h4 class="title">ตำแหน่งงาน :{{userData.employee_position}}</h4>
          <h4 class="title">เบอร์โทร :{{userData.phone_number}}</h4>
        </div>
        <button mat-raised-button color="primary" (click)="editProfile(userData.id)">แก้ไข</button>
      </div>
    </div>
  </div>
</div>
