<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card">

          <div class="card-header card-header-primary">
            <h3 class="card-title">การจัดการ วันหยุด ในระบบ</h3>
            <p class="card-category">คุณสามารถจัดการ วันหยุด ในระบบได้ที่หน้านี้</p>
            <div class="card-header-btn col-md-12">
              <button mat-raised-button style="margin-right: .3em" mat-min-fab
                      class="btn btn-info btn-round btn-fab" (click)="createholiday()">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="table-search-input ml-auto">
            </div>
            <table mat-table [dataSource]="dataSourceOfHolidayTable" multiTemplateDataRows matSort style="width: 100%;" class="table-striped table-hover">
              <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsHolidayTable">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">ปี {{element[column]}} </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row" (click)="(expandedData = expandedData === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedData !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedData === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container> -->

              <ng-container matColumnDef="holiday_year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> holiday_year </th>
                <td mat-cell *matCellDef="let element"> {{ element.holiday_year }} </td>
              </ng-container>

              <ng-container matColumnDef="holiday_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> holiday_date </th>
                <td mat-cell *matCellDef="let element"> {{ element.holiday_date }} </td>
              </ng-container>


              <ng-container matColumnDef="holiday_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> holiday_name </th>
                <td mat-cell *matCellDef="let element"> {{ element.holiday_name }} </td>
              </ng-container>
<!--
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail" [@detailExpand]="element == expandedData ? 'expanded' : 'collapsed'">
                    <div *ngFor="let holiday of element.holidays let i = index">
                     {{i+1}} : {{holiday.holiday_date}} : {{holiday.holiday_name}}
                    </div>
                  </div>
                </td>
              </ng-container> -->

              <tr mat-header-row class="text-center" *matHeaderRowDef="columnsHolidayTable"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsHolidayTable;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
