<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-12">

        <div class="card">

          <div class="card-header card-header-primary">
            <h3 class="card-title">การจัดการบัญชีผู้ใช้</h3>
            <p class="card-category">
              คุณสามารถจัดการบัญชีผู้ใช้ในระบบได้ที่หน้านี้
            </p>
            <div class="card-heder-btn col-md-12">
              <button mat-raised-button style="margin-right: .3em" mat-min-fab
              (click)="gotoCreateNewAccountPage()"
                class="btn btn-info btn-round btn-fab">
                <i class="material-icons">add</i>
              </button>
              <button mat-raised-button style="margin-right: .3em" [disabled]="true" class="btn btn-success btn-round">
                <i class="material-icons">arrow_downward</i> Excel
              </button>
            </div>

          </div>

          <div class="card-body">

            <!-- Input element for table searching -->
            <!-- <div class="table-search-input ml-auto">
              <i class="material-icons">search</i>
              <mat-form-field>
                <mat-label> Search</mat-label>
                <input matInput autocomplete="0" autocomplete="off"
                  (input)="dataSourceOfUserAccountsManagementTable.filter = $event.target.value.trim();" type="text" />
              </mat-form-field>
            </div> -->
            <!-- End input element for table searching -->

            <!-- UserAccountsManagement Table -->
            <table mat-table [dataSource]="dataSourceOfUserAccountsManagementTable" matSort style="width: 100%;"
              class="table-striped table-hover">

              <!-- Username Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้ใช้ </th>
                <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
              </ng-container>

              <!-- Firstname Column -->
              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อจริง </th>
                <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
              </ng-container>

              <!-- Surname Column -->
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> นามสกุล </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastname }} </td>
              </ng-container>

              <!-- Employee_code Column -->
              <ng-container matColumnDef="employee_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสพนักงาน </th>
                <td mat-cell *matCellDef="let element"> {{ element.employee_code }} </td>
              </ng-container>

              <!-- Employee_position Column -->
              <ng-container matColumnDef="employee_position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่วง </th>
                <td mat-cell *matCellDef="let element"> {{ element.employee_position }} </td>
              </ng-container>

              <!-- User_role Column -->
              <ng-container matColumnDef="user_role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สิทธิ์ </th>
                <td mat-cell *matCellDef="let element"> {{ element.user_role }} </td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> แผนก </th>
                <td mat-cell *matCellDef="let element"> {{ element.department_id }} </td>
              </ng-container>

              <!-- Reset Password Button Column -->
              <ng-container matColumnDef="reset_password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เปลียนรหัส </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button mat-min-fab *ngIf="element.enabled == '1'" (click)="resetPassword(element)"
                    class="btn btn-sm btn-primary btn-round btn-fab">
                    <i class="material-icons">sync_lock</i>
                  </button>
                </td>
              </ng-container>

              <!-- Edit Button Column -->
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> แก้ไข </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button mat-min-fab *ngIf="element.enabled == '1'" (click)="editItem(element)"
                    class="btn btn-sm btn-primary btn-round btn-fab">
                    <i class="material-icons">edit</i>
                  </button>
                </td>
              </ng-container>

              <!-- Delete Button Column -->
              <ng-container matColumnDef="remove">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปิดการใช้งาน </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button mat-raised-button mat-min-fab *ngIf="element.enabled == '1'" (click)="deleteAnItem(element)"
                    class="btn btn-sm btn-danger btn-round btn-fab">
                    <i class="material-icons">delete</i>
                  </button>
                  <span *ngIf="element.enabled == '0'" class="badge badge-danger">บัญชีถูกระงับ</span>
                </td>
              </ng-container>

              <!-- Info Button Column -->
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ข้อมูลผู้ใช้ </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button mat-min-fab (click)="routeToItemInfo(element)"
                    class="btn btn-sm btn-info btn-round btn-fab">
                    <i class="material-icons">description</i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row class="text-center" *matHeaderRowDef="columnsUserAccountsManagementTable"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsUserAccountsManagementTable;" ></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
