<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">
              ฟอร์มสำหรับแก้ไขข้อมูลสินค้า
            </h3>
            <p class="card-contegory">
              ที่แบบฟอร์มจะปรากฎข้อมูลเดิม ให้แก้ไขหัวข้อต่าง ๆ และตรวจสอบความถูกต้องก่อนกดบันทึก
            </p>
          </div>
          <div class="card-body">
            <form #editProduct="ngForm" (ngSubmit)="onSubmit(editProduct)">
              <div class="form-group row mt-3">
                <div class="col-md-4 col-6">
                  <label for="category" class="col-form-label">Category</label>
                  <input type="text" class="form-control" name="category" ngModel id="category" [(ngModel)]="productInfo.category">
                </div>
                <div class="col-md-4 col-6">
                  <label for="group" class="col-form-label">Group</label>
                  <input type="text" class="form-control" name="group" ngModel id="group" [(ngModel)]="productInfo.group">
                </div>
                <div class="col-md-4 col-6">
                  <label for="product_code" class="col-form-label">Product Code</label>
                  <input type="text" class="form-control" name="product_code" ngModel id="product_code" [(ngModel)]="productInfo.product_code">
                </div>
              </div>

              <div class="form-group row mt-3">
                <div class="col-md-4 col-6">
                  <label for="trade_name" class="col-form-label">Trade Name</label>
                  <input type="text" class="form-control" name="trade_name" ngModel id="trade_name" [(ngModel)]="productInfo.trade_name">
                </div>
                <div class="col-md-4 col-6">
                  <label for="common_name" class="col-form-label">Common Name</label>
                  <input type="text" class="form-control" name="common_name" ngModel id="common_name" [(ngModel)]="productInfo.common_name">
                </div>
                <div class="col-md-4 col-6">
                  <label for="packing" class="col-form-label">Packing</label>
                  <input type="text" class="form-control" name="packing" ngModel id="packing" [(ngModel)]="productInfo.packing">
                </div>
              </div>

              <div class="form-group row mt-3">
                <div class="col-md-4 col-6">
                  <label for="size" class="col-form-label">Size</label>
                  <input type="text" class="form-control" name="size" ngModel id="size" [(ngModel)]="productInfo.size">
                </div>
                <div class="col-md-4 col-6">
                  <label for="pack_qty" class="col-form-label">Pack Qty</label>
                  <input type="text" class="form-control" name="pack_qty" ngModel id="pack_qty" [(ngModel)]="productInfo.pack_qty">
                </div>
                <div class="col-md-4 col-6">
                  <label for="product_unit" class="col-form-label">Product Unit</label>
                  <input type="text" class="form-control" name="product_unit" ngModel id="product_unit" [(ngModel)]="productInfo.product_unit">
                </div>
              </div>

              <div class="form-group row mt-3">
                <div class="col-md-4 col-6">
                  <label for="price" class="col-form-label">Price</label>
                  <input type="number" class="form-control" name="price" ngModel id="price" [(ngModel)]="productInfo.price">
                </div>
              </div>


              <hr>
              <div class="d-flex justify-content-between">
                <span>เมื่อตรวจสอบข้อมูลแล้วเห็นว่าถูกต้อง ให้กดปุ่มสร้างสินค้า</span>
                <div>
                  <button (click)="cancel()" class="btn btn-danger" type="button">ยกเลิก</button>
                  <button type="submit" class="btn btn-primary">แก้ไขข้อมูล</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
