<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">สร้างซัพเมนู</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label>ลำดับ</label>
                    <input type="text" formControlName="sub_sequence" class="form-control" name="sub_sequence" id="sub_sequence"
                    [ngClass]="{ 'is-invalid': submitted && f['sub_sequence'].errors }" />
                  <div *ngIf="submitted && f['sub_sequence'].errors" class="invalid-feedback">
                    <div *ngIf="f['sub_sequence'].errors['required']">กรุณากรอกลำดับ</div>
                    <div *ngIf="f['sub_sequence'].errors['pattern']">ลำดับต้องการเป็นตัวเลย 0-9เท่านั้น</div>
                  </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label>เมนูย่อย Path</label>
                    <input type="text" formControlName="sub_path" class="form-control" name="sub_path" id="sub_path"
                      [ngClass]="{ 'is-invalid': submitted && f['sub_path'].errors }" />
                    <div *ngIf="submitted && f['sub_path'].errors" class="invalid-feedback">
                      <div *ngIf="f['sub_path'].errors['required']">กรุณากรอกเมนูย่อย Path</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <div class="form-group">
                    <label>เมนู Path</label>
                    <input type="text" formControlName="sub_title" class="form-control" name="sub_title" id="sub_title"
                      [ngClass]="{ 'is-invalid': submitted && f['sub_title'].errors }" />
                    <div *ngIf="submitted && f['sub_title'].errors" class="invalid-feedback">
                      <div *ngIf="f['sub_title'].errors['required']">กรุณากรอก Path ของเมนูย่อย</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">

                  <div class="form-group">
                    <label>ตัวย่อ</label>
                    <input type="text" formControlName="sub_ab" class="form-control" name="sub_ab" id="sub_ab" />
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">

                  <div class="form-group">
                    <label>ประเภท</label>
                    <input type="text" formControlName="sub_type" class="form-control" name="sub_type" id="sub_type" />
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>เมื่อตรวจสอบข้อมูลแล้วเห็นว่าถูกต้อง ให้กดปุ่มบันทึก</span>
                <div>
                  <button (click)="cancel()" class="btn btn-danger">ยกเลิก</button>
                  <button type="submit" (click)="createSystemSubMenus()" class="btn btn-primary">บันทึก</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
