<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">
              ฟอร์มสำหรับสร้างเมนูใหม่
            </h3>

            <p class="card-contegory">
              กรุณาระบุข้อมูลต่าง ๆ ให้ครบถ้วน และตรวจสอบความถูกต้องก่อนกดปุ่มบันทึก
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-4">
                  <div class="form-group">
                    <label>เมนู Path</label>
                    <input type="text" formControlName="menu_path" class="form-control" name="menu_path" id="menu_path"
                      [ngClass]="{ 'is-invalid': submitted && f['menu_path'].errors }" />
                    <div *ngIf="submitted && f['menu_path'].errors" class="invalid-feedback">
                      <div *ngIf="f['menu_path'].errors['required']">กรุณากรอกเมนู Path</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-4">
                  <div class="form-group">
                    <label>ชื่อเมนู</label>
                    <input type="text" formControlName="menu_title" class="form-control" name="menu_title"
                      id="menu_title" [ngClass]="{ 'is-invalid': submitted && f['menu_title'].errors }" />
                    <div *ngIf="submitted && f['menu_title'].errors" class="invalid-feedback">
                      <div *ngIf="f['menu_title'].errors['required']">กรุณากรอกชื่อเมนู</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-4">
                  <div class="form-group">
                    <label>ประเภทเมนู</label>
                    <mat-select formControlName="menu_type" name="menu_type" id="menu_type" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['menu_type'].errors }">
                      <mat-option value="">None</mat-option>
                      <mat-option *ngFor="let menu_type of menuType"
                        [value]="menu_type.value">{{menu_type.value}}</mat-option>
                    </mat-select>
                    <div *ngIf="submitted && f['menu_type'].errors" class="invalid-feedback">
                      <div *ngIf="f['menu_type'].errors['required']">กรุณากเลือกประเภทเมนู</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label>ไอคอน</label>
                    <input type="text" formControlName="menu_icontype" class="form-control" name="menu_icontype"
                      id="menu_icontype" [ngClass]="{ 'is-invalid': submitted && f['menu_icontype'].errors }" />
                    <div *ngIf="submitted && f['menu_icontype'].errors" class="invalid-feedback">
                      <div *ngIf="f['menu_icontype'].errors['required']">กรุณากรอกชื่อไอคอน</div>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>ไอคอน</label>
                    <mat-select formControlName="menu_icontype" name="menu_icontype" id="menu_icontype"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f['menu_icontype'].errors }">
                      <mat-option value="">None</mat-option>
                      <div class="icon-grid">
                        <mat-option *ngFor="let menu_type of IconInSelect" [value]="menu_type.icon_name">
                          <i class="material-icons icon-size">{{menu_type.icon_name }}</i>
                        </mat-option>
                      </div>
                    </mat-select>
                    <div *ngIf="submitted && f['menu_icontype'].errors" class="invalid-feedback">
                      <div *ngIf="f['menu_icontype'].errors['required']">กรุณากรอกชื่อไอคอน</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>กรอกเมนู collapse</label>
                    <input type="text" formControlName="menu_collapse" class="form-control" name="menu_collapse"
                      id="menu_collapse" />
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>เมื่อตรวจสอบข้อมูลแล้วเห็นว่าถูกต้อง ให้กดปุ่มสร้างบัญชีผู้ใช้</span>
                <div>
                  <button (click)="cancel()" class="btn btn-danger">ยกเลิก</button>
                  <button type="submit" (click)="createSystemMenus()" class="btn btn-primary">สร้างบัญชีผู้ใช้</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
