<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">

        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">
              ฟอร์มสำหรับแก้ไขข้อมูล confirm_password
            </h3>
            <p class="card-contegory">
             แบบฟอร์มจะปรากฎข้อมูลเดิม ให้แก้ไขหัวข้อต่าง ๆ และตรวจสอบความถูกต้องก่อนกดบันทึก
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row mt-3">
                <div class="form-group">
                  <label>รหัสผ่าน</label>
                  <input type="password" formControlName="password" class="form-control" name="password" id="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">กรุณากรอกรหัสผ่าน</div>
                    <div *ngIf="f['password'].errors['minlength']">
                      ความยาวของรหัสผ่านต้องมากกว่า 8 ตัวอักษร
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>ยืนยันรหัสผ่าน</label>
                  <input type="password" formControlName="confirm_password" class="form-control" name="confirm_password" id="confirm_password"
                    [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }"/>
                  <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirm_password'].errors['required']">กรุณากรอกรหัสผ่านอีกครั้ง</div>
                    <div *ngIf="f['confirm_password'].errors['minlength']">
                      ความยาวของรหัสผ่านต้องมากกว่า 8 ตัวอักษร
                    </div>
                    <div *ngIf="f['confirm_password'].errors['matching']">
                      รหัสผ่านไม่ตรงกัน
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>เมื่อตรวจสอบข้อมูลแล้วเห็นว่าถูกต้อง ให้กดปุ่มสร้างบัญชีผู้ใช้</span>
                <div>
                  <button (click)="cancel()" class="btn btn-danger">ยกเลิก</button>
                  <button type="submit" (click)="resetPassword()"[disabled]="form.pristine" class="btn btn-primary">แก้ไขข้อมูล</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
