<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">

        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">
              ฟอร์มสำหรับแก้ไขข้อมูล confirm_password
            </h3>
            <p class="card-contegory">
             แบบฟอร์มจะปรากฎข้อมูลเดิม ให้แก้ไขหัวข้อต่าง ๆ และตรวจสอบความถูกต้องก่อนกดบันทึก
            </p>
          </div>
          <div class="card-body">
            <form #createNewUserAccount="ngForm" (onSubmit)="resetPassword(createNewUserAccount)">
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="email" class="form-label">password</label>
                  <input type="password" class="form-control" ngModel name="password" [(ngModel)]="new_password.password" id="password">
                </div>
                <div class="col-md-6">
                  <label for="phone_number" class="form-label">confirm_password</label>
                  <input type="password" class="form-control" ngModel name="confirm_password" [(ngModel)]="new_password.confirm_password" id="confirm_password">
                </div>
              </div>

              <hr>
              <div class="d-flex justify-content-between">
                <span>เมื่อตรวจสอบข้อมูลแล้วเห็นว่าถูกต้อง ให้กดปุ่มสร้างบัญชีผู้ใช้</span>
                <div>
                  <button (click)="cancel()" class="btn btn-danger">ยกเลิก</button>
                  <button type="submit" (click)="resetPassword(createNewUserAccount)" class="btn btn-primary">แก้ไขข้อมูล</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
